<mat-grid-list cols="3" minHeight="50px" maxHeight="340px" mat-gutter>
  <mat-grid-tile *ngFor="let item of gamesData">
    <mat-card class="example-card custom-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <img
        mat-card-image
        width="100%"
        src="{{ item.thumbnail }}"
        alt="Game Image"
      />
      <mat-card-content>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <p>{{ item.short_description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
