.container {
  padding: 26px;
  background-color: #1f2122;
}
.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
.mat-elevation-z4 {
  background-color: #383a3b;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}
.gameCard {
  border: 1px solid transparent;
  max-height: 350px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    border 0.2s ease-in-out;

  &:hover {
    transform: scale(1.008);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* Add your desired border color */
    cursor: pointer;
  }
}
.loadmore {
  color: black;
}
.cardimage {
  border-radius: 23px;
  max-height: 250px;
}
