.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-card {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin-top: 150px;
}

.game-card-header {
  background-color: transparent; /* Header background color */
  color: white; /* Text color */
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.game-card-content {
  padding: 16px; /* Optional: Add padding to the card content */
  font-size: large;
}
.gameTitle{
  margin: 20px;
}

