<div>
  <mat-card-title class="gameTitle">{{ gameDetails.name }}</mat-card-title>
</div>
<div class="container">
  <mat-card class="game-card">
    <mat-card-header class="game-card-header">
      <mat-card-title-group>
        <!-- <mat-card-subtitle>Extra large</mat-card-subtitle> -->
        <img
          mat-card-xl-image
          [src]="gameDetails.background_image"
          alt="Game Image"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="game-card-content">
      {{ gameDetails.description_raw }}
    </mat-card-content>
  </mat-card>
</div>
